In [516]:
import pandas as pd

In [517]:
luv = pd.read_csv("/Users/medhaniesolomon/OneDrive - The University of Texas at Dallas/Financial_Report.csv")

In [518]:
luv.fillna(0)

,Consolidated Statement of Income (Loss) - USD ($) $ in Millions,12 Months Ended,Unnamed: 2,Unnamed: 3
0,0,"Dec. 31, 2020","Dec. 31, 2019","Dec. 31, 2018"
1,OPERATING REVENUES:,0,0,0
2,Operating Revenue,"$9,048",22428,"$21,965"
3,"OPERATING EXPENSES, NET:",0,0,0
4,"Salaries, wages, and benefits",6811,8293,"7,649"
5,Payroll support and voluntary Employee program...,-967,0,0
6,Fuel and oil,1849,4347,"4,616"
7,Maintenance materials and repairs,750,1223,"1,107"
8,Landing fees and airport rentals,1240,1363,"1,334"
9,Depreciation and amortization,1255,1219,"1,201"
10,Other operating expenses,1926,3026,"2,852"
11,"Total operating expenses, net",12864,19471,"18,759"
12,OPERATING INCOME (LOSS),-3816,2957,"3,206"
13,OTHER EXPENSES (INCOME):,0,0,0
14,Interest expense,349,118,131
15,Capitalized interest,-35,-36,-38
16,Interest income,-32,-90,-69
17,"Other (gains) losses, net",-158,-8,-18
18,Total other expenses (income),440,0,42
19,INCOME (LOSS) BEFORE INCOME TAXES,-4256,2957,"3,164"
20,PROVISION (BENEFIT) FOR INCOME TAXES,-1182,657,699
21,NET INCOME (LOSS),"($3,074)",2300,"$2,465"
22,"NET INCOME (LOSS) PER SHARE, BASIC",($5.44),4.28,$4.30
23,"NET INCOME (LOSS) PER SHARE, DILUTED",($5.44),4.27,$4.29
24,Passenger,0,0,0
25,OPERATING REVENUES:,0,0,0
26,Operating Revenue,"$7,665",20776,"$20,455"
27,Freight,0,0,0
28,OPERATING REVENUES:,0,0,0
29,Operating Revenue,161,172,175
30,Other,0,0,0
31,OPERATING REVENUES:,0,0,0
32,Operating Revenue,"$1,222",1480,"$1,335"

In [519]:
luv=luv.drop(columns = ["Unnamed: 2", "Unnamed: 3"])

In [520]:
luv=luv.drop([0,1,3,13,24,25,27,28,30,31],axis=0)

In [521]:
luv.head()

,Consolidated Statement of Income (Loss) - USD ($) $ in Millions,12 Months Ended
2,Operating Revenue,"$9,048"
4,"Salaries, wages, and benefits",6811
5,Payroll support and voluntary Employee program...,-967
6,Fuel and oil,1849
7,Maintenance materials and repairs,750

In [522]:
luv["12 Months Ended"] = luv["12 Months Ended"].str.replace('$','').str.replace(',','').str.replace('\((.*)\)','-\\1').astype(float)

<ipython-input-522-dfe69c877784>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  luv["12 Months Ended"] = luv["12 Months Ended"].str.replace('$','').str.replace(',','').str.replace('\((.*)\)','-\\1').astype(float)
<ipython-input-522-dfe69c877784>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  luv["12 Months Ended"] = luv["12 Months Ended"].str.replace('$','').str.replace(',','').str.replace('\((.*)\)','-\\1').astype(float)

In [523]:
Revenue = luv.iloc[0,1]
Revenue

9048.0

In [524]:
Operating_Profit = luv.iloc[9,1]
Operating_Profit

-3816.0

In [525]:
Net_Profit = luv.iloc[17,1]
Net_Profit

-3074.0

In [526]:
EBIT = luv.iloc[15,1]
EBIT

-4256.0

In [527]:
Interest_Expense = luv.iloc[10,1]
Interest_Expense

349.0

In [528]:
Tax_Provision = luv.iloc[16,1]
Tax_Provision

-1182.0

In [529]:
Gross_Profit = -2787.00

In [543]:
Gross_Profit_Ratio = Gross_Profit / Revenue
round(Gross_Profit_Ratio,2)

-0.31

In [539]:
Operating_Profit_Ratio = Operating_Profit / Revenue
Operating_Profit_Ratio

-0.4217506631299735

In [540]:
Net_Profit_Ratio = Net_Profit / Revenue
Net_Profit_Ratio

-0.33974358974358976

In [541]:
Tax_Ratio = Tax_Provision / EBIT
Tax_Ratio

0.27772556390977443

In [542]:
Interest_Coverage_Ratio = EBIT / Interest_Expense
Interest_Coverage_Ratio

-12.194842406876791